<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--SERVER CONNECTION-->
    <!--<add
      connectionString="Data Source=118.139.178.16;Initial Catalog=CarrierDiserPortal;Trusted_Connection=False;Encrypt=False;Integrated Security=SSPI;User ID=diserp;Password=1ic1IC"
      name="conString"
      providerName="System.Data.SqlClient"/>-->

    <!--LOCAL CONNECTION-->
    <!--<add 
       name="conString" 
       connectionString="Data Source=CIELO;Initial Catalog=db_CCAC;Integrated Security=true" 
       providerName="System.Data.SqlClient"/> -->

		<!--BON CONNECTION OFFICE-->
		<!--<add
		connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=CarrierDiserPortal;Trusted_Connection=False;Encrypt=False;Integrated Security=SSPI;User ID=diserp;Password=1ic1IC"
		name="conString"
		providerName="System.Data.SqlClient" />-->

    <!--BON CONNECTION HOME-->
    <add
		connectionString="Data Source=DHDC914\SQL2012;Initial Catalog=CarrierDiserPortal;Trusted_Connection=False;Encrypt=False;Integrated Security=true;"
		name="conString"
		providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
	<sessionState timeout="1440" />

    <httpRuntime executionTimeout="43200" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="7192"/>
    
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" />
    
    <customErrors mode="Off"/>

    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="Default.aspx"
      protection="All" path="/" timeout="1440" />
    </authentication>

    <!--<authorization>
      <deny users ="?" />
      <allow users = "*" />
    </authorization>-->

  </system.web>

  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <!--SERVER CONNECTION-->
      <!--<add
        key="conString"
        value="server=118.139.178.16; database=CarrierDiserPortal; initial catalog=CarrierDiserPortal;Trusted_Connection=False;Encrypt=False;user id=diserp; pwd=1ic1IC; Integrated Security=SSPI; "/>-->

      <!--LOCAL CONNECTION-->
      <!--<add 
        key="conString" 
        value="server=CIELO; database=db_CCAC; initial catalog=db_CCAC; Integrated Security=True; "/>-->

		<!--BON CONNECTION OFFICE-->
		<!--<add 
        key="conString" 
        value="server=LOCALHOST\SQLEXPRESS; database=CarrierDiserPortal; initial catalog=CarrierDiserPortal;Trusted_Connection=False;Encrypt=False;user id=diserp; pwd=1ic1IC; Integrated Security=SSPI; " />-->

    <!--BON CONNECTION HOME-->
    <add
        key="conString"
        value="server=DHDC914\SQL2012; database=CarrierDiserPortal; initial catalog=CarrierDiserPortal;Trusted_Connection=False;Encrypt=False;user id=diserp; pwd=1ic1IC; Integrated Security=SSPI; " />
    </appSettings>
  </location>
</configuration>